#score{

text-align: center;

color: black;

}

#game{

width: 600px;

height: 300px;

border: 2px solid black;

margin: auto;

background-color: red;

background-size: cover;

background-image: url(Marokko-Sahara-Merzouga-Daphne-Damiaans-2.jpg);

}

#dino{

height: 75px;

width: 75px;

position: relative;

top: 225px;

background-color: blue;

background-size: cover;

background-image: url(generated-icon.png);

}

#steen{

height: 50px;

width: 50px;

position: relative;

top: 175px;

left: 550px;

background-color: grey;

background-size: cover;

animation: rock 1.33s infinite;

background-image: url(unnamed.png);

}

@keyframes rock{

0%{left: 550px}

100%{left: -150px}

}

.jump-animation{

animation: jump 0.5s;

}

@keyframes rock{

0%{left: 550px}

100%{left: -150px}

}

.jump-animation{

animation: jump 0.5s;

}

@keyframes jump{

0%{top: 225px}

50%{top: 75px}

75%{top: 75px}

100%{top: 225px}

}